<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDePB6gtwGr-vuVWd1Ra8gwlFUlOmRwcj0</string>
	<key>GCM_SENDER_ID</key>
	<string>964613434103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myWebsite</string>
	<key>PROJECT_ID</key>
	<string>aashisregmi-com-np</string>
	<key>STORAGE_BUCKET</key>
	<string>aashisregmi-com-np.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964613434103:ios:27b620f624c7ce929741f2</string>
</dict>
</plist>